
*.xml

*.iml

*.class

*.kotlin_module

*.jar

*.bin

gradlew

gradlew.bat

gradle/wrapper/gradle-wrapper.properties

.gradle/3.1/taskArtifacts/cache.properties

.gradle/3.1/taskArtifacts/cache.properties.lock

build/kotlin-build/caches/version.txt

build/resources/main/application.properties
